<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight:400;
        font-style: normal;
        background: #eef1f9
      }
    </style>
  </head>
  <body>
 <table
    align="center"
    width="100%"
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
    style="width:100%;background:#eef1f9;padding:80px 0px;">
    <tbody>
        <tr>
            <td align="center">
                <table style="max-width:37.5em;width:100%;background-color:#ffffff;border:1px solid #f0f0f0;border-radius:12px;overflow:hidden;">
                    <tr style="width:100%">
                        <td  style="padding:2.5rem;padding-bottom:1.25rem">
                            <img
                                alt="Sakil Anwar"
                                src="https://dash-tail.vercel.app/_next/static/media/avatar-2.1136fd53.jpg"
                                style="display:block;outline:none;border:none;text-decoration:none;margin-left:auto;margin-right:auto;border-radius:9999px;height:70px;width:70px">
                                <p
                                    class="text-default-900"
                                    style="font-size:1.875rem;line-height:2.25rem;margin:16px 0;text-align:center;font-weight:600">Hi Sakil Anwar</p>
                                <p class="text-default-700" style="font-size:1rem;line-height:1.5rem;margin:16px 0;text-align:center">Welcome to
                                    CodeShaper, where innovation meets precision. Crafting your digital future with elegant solutions. Let's shape your
                                    success together. Evolve, adapt, conquer.</p>
                                <table
                                    align="center"
                                    width="100%"
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="presentation"
                                    style="text-align:center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a
                                                    href="https://codeshaper.net/contact-us"
                                                    style="line-height:100%;text-decoration:none;display:block;max-width:100%;background-color:#5F51E8;border-radius:3px;color:#fff;font-size:16px;text-align:center;padding:12px
                                                        12px 12px 12px"
                                                    target="_blank">
                                                    <span style="max-width:100%;display:inline-block;line-height:120%;mso-padding-alt:0px;mso-text-raise:9px">Get started</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-default-700" style="font-size:1rem;line-height:1.5rem;margin:16px 0;text-align:center">Best <br>The Codeshaper team</p>
                                    <hr
                                        class="border-default-300"
                                        style="width:100%;border:none;border-top:1px solid #eaeaea;border-width:1px;margin-top:1.25rem;margin-bottom:1.25rem">
                                        <p class="text-default-700" style="font-size:0.75rem;line-height:1.5rem;margin:16px 0;text-align:center">3rd Floor,
                                            Road# 29, House# 395, New DOHS,
                                            <br>
                                                Mohakhali, Dhaka - 1206, Bangladesh</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
  </body>
</html>
